extends ../../layouts/_layout

block variables
  - var activePage = 'errors';

block content
  .app-title
    div
      h1
        i.fa.fa-bug
        | Errors
      p 
        | Errors in this application show up here, and

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Errors

  .row
    .col-md-12
      .tile
        .tile-title
          | Error Log
        .tile-body
          p 
            | ID: 
            br
            strong #{error._id}
          p 
            | APPLICATION: 
            br
            strong #{error.application}
          p 
            | MESSAGE:
            br
            strong #{error.message}
          p 
            | STACK:
            br
            strong !{error.stack}
          p 
            | CREATED AT:
            br
            strong #{error.createdAt}
          

